@import "tailwindcss";

html, body, #root {
    margin: 0;
    min-height: 100%;
    width: 100%;
}

.calendar-theme .fc {
    --fc-button-bg-color: #003b5c;
    --fc-button-border-color: #003b5c;

    --fc-button-hover-bg-color: #002f49;
    --fc-button-hover-border-color: #002f49;

    --fc-button-active-bg-color: #002741;
    --fc-button-active-border-color: #002741;
}